@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding:0;
}
body
{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:rgb(243, 225, 243);  
}

/* header part*/

header
{
    position: sticky;
    top: 0;  

}
nav
{
    margin-bottom: 20px;
    
}
.bar
{
    background-image: url(navbar.png);
    background-repeat: no-repeat;background-position: center;background-size: cover;
}
nav .bar h1
{
  padding:10px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style:normal;
  color:teal;
  letter-spacing: 1px;
}
nav .bar span
{
    color:#ff6569;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style:italic;
    font-size: 50px;
    letter-spacing:1px;
}
.menu ul
{
display: flex;align-items: center;justify-content: space-between;
list-style-type: none;font-weight: 600;
margin:25px 15px 25px 15px;
}
.menu a
{
    color:teal;
    font-size: 20px;
    text-decoration:none;
    padding:5px;
}
.menu a:hover
{
    border-bottom: 4px solid tomato;
    color: black;
}

/* main div */

.parent-div
{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin-left:50px;margin-right: 50px;
    gap: 10px; 
}
.parent-div>div
{
    height:350px;
    border-radius:15px;
   
}
.parent-div>div:hover
{
    opacity:0.85;
    transform: scale(0.99);
}
.parent-div>div p
{
    color:tomato;
    height:50px;
    background-color:teal;
    text-align:center;
    padding:5px;
    margin-top:290px;
    opacity: 0;
}
.parent-div>div p:hover
{
    opacity: 1;transition: 0.2s ease-in-out;
}
.parent-div>div a
{
    color: yellow;
    text-decoration: none;
}
.parent-div>div:nth-of-type(1)
{
    grid-column:1/3;
}
.parent-div>div:nth-of-type(4)
{
    grid-column: 2/4;
}
.parent-div>div:nth-of-type(12)
{
    grid-column:1/4 ;
}
.parent-div>div:nth-of-type(8)
{
    grid-column: 1/3;
}
.parent-div>div:nth-of-type(11)
{
grid-column: 2/4;
}

/*  Image part*/

.flex-1
{
    background-image:url('child1.jpg');
    background-size: cover;
    background-position: center;
}
.flex-2
{
    background-image:url('child2.jpg');
    background-size: cover;
    background-position: center;
}
.flex-3
{
    background-image:url('child3.jpg');
    background-size: cover;
    background-position: center;
}
.flex-4
{
    background-image:url('child4.webp');
    background-size: cover;
    background-position: center;
}
.flex-5
{
    background-image:url('child5.jpg');
    background-size: cover;
    background-position: center;
}
.flex-6
{
    background-image:url('child6.webp');
    background-size: cover;
    background-position: center;
}
.flex-7
{
    background-image:url('child7.avif');
    background-size: cover;
    background-position: center;
}
.flex-8
{
    background-image:url('child8.avif');
    background-size: cover;
    background-position: center;
}
.flex-9
{
    background-image:url('child9.avif');
    background-size: cover;
    background-position: center;
}
.flex-10
{
    background-image:url('child10.webp');
    background-size: cover;
    background-position: center;
}
.flex-11
{
    background-image:url('child11.webp');
    background-size: cover;
    background-position: center;
}
.flex-12
{
    background-image:url('child12.webp');
    background-size: cover;
    background-position: center;
}
button
{
    height:40px;width:150px;
    margin:30px 30px 30px 1100px;
    padding: 5px;
    font-size: 20px;font-family: 'poppins';
    font-weight: 700;border-radius: 10px;color:seagreen;
    border: none;background-color: thistle;cursor: pointer;
}
.footer
{
    height: 150px;
    width: 100%;
    background-color: grey;
    color: white;text-align: center;
    padding: 5px;
}
.footer i
{
    font-size: 20px;
    padding: 10px;color: black;font-weight: bolder;
}
.ul-list ul
{
    display: flex;
    align-items: center;justify-content: space-around;list-style: none;text-decoration: underline;
}
.copy
{
    display: flex;align-items: center; justify-content: left;
    padding:10px;margin-top: 10px;
    color: rgb(8, 8, 138);
}
.footer h3
{
    color:purple;
}